


<a name="exp-buttons"></a>

<div class="row">
    <div class="col-lg-12">
        <div class="jumbotron sticky-img">

            <span class="header-text">
                    <h1 style="color:#fff;">I'm Rob VanCleave</h1>
                        
                        <h3 style="color:#fff;">I bridge the gap between <span style="color:#f4c242;">design + development.</span></h3>
            <hr style="text-align:left; width:100%;" />
                <p style="font-size:14px;">I've been perfecting my craft for a decade; partnering with forward-thinking companies nationwide. Beautiful design, responsive development, a deep knowledge of mobile trends, and UI best practices are just the start of what I can offer. <span style="color:#f4c242;">Say hello!</span></p>
            </span>
            <div style="height:10%;"></div>
            <section id="section05" class="demo">
                <a href="#section06"><span></span></a>
            </section>
        </div>
    </div>
</div>



<!-- end of wrapper -->

<script>
    $(document).ready(function() {
        $("i.icon").popover({
            'trigger': 'click'
        });
    });

</script>
<!-- end admin panels -->
