<!-- /.row -->
<div id="work"></div>
<div class="row row-no-padding">

    <div class="grid">
        <!-- add extra container element for Masonry -->

        <div class="grid-sizer col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="grid">
                <div type="button" data-toggle="modal" data-target="#modal1">
                    <figure class="effect-oscar">

                        <img src="http://robvancleave.com/danlaw/img/danlaw-1.png" class="img-responsive" />
                        <figcaption>
                            <h2 style="background-color:#f4c242; padding:10px; -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);">Website</h2>
                            <p>Main corporate website</p>
                            <a href="#">View Project</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-body text-center">
                                <div class="modal-header">
                                    <a href="https://www.danlawinc.com/">View the live site <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> 
                            </div>
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/danlaw-2.png" alt="...">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/danlaw-3.png" alt="...">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/danlaw-4.png" alt="...">
                                            <div class="carousel-caption">
                                        
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="##carousel-example-generic" role="button" data-slide="prev" target="_self">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="##carousel-example-generic" role="button" data-slide="next" target="_self">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                <div class="col-lg-6">
                                <a href="https://www.facebook.com/rob.vancleave.1"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a href="https://www.linkedin.com/in/robvancleave/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a href="https://gitlab.com/users/robbvann/projects"><i class="fa fa-gitlab" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                
                                
                                </div>
                                <div class="col-lg-6" align="right">
                                <span type="button" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Close</span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="grid">
                <div type="button" data-toggle="modal" data-target="#modal2">
                    <figure class="effect-oscar">

                        <img src="http://robvancleave.com/danlaw/img/ch-6.jpg" class="img-responsive" />
                        <figcaption>
                            <h2 style="background-color:#f4c242; padding:10px; -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);">Mobile App</h2>
                            <p>App for children with asthma</p>
                            <a href="#">View Project</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-body text-center">
                                 <div id="modal-car2" class="carousel slide" data-ride="carousel">

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/ch-1.jpg" class="img-responsive">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/ch-2.jpg" alt="...">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/ch-4.jpg" alt="...">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/ch-6.jpg" alt="...">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/ch-5.jpg" alt="...">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/ch-3.jpg" alt="...">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="##modal-car2" role="button" data-slide="prev" target="_self">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="##modal-car2" role="button" data-slide="next" target="_self">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </div>



                            <div class="modal-footer">
                                <div class="row">
                                <div class="col-lg-6">
                                <a href="https://www.facebook.com/rob.vancleave.1"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a href="https://www.linkedin.com/in/robvancleave/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a href="https://gitlab.com/users/robbvann/projects"><i class="fa fa-gitlab" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                
                                
                                </div>
                                <div class="col-lg-6" align="right">
                                <span type="button" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Close</span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="grid">
                <div type="button" data-toggle="modal" data-target="#modal3">
                    <figure class="effect-oscar">

                        <img src="http://robvancleave.com/danlaw/img/hub-logo-3.jpg" class="img-responsive" />
                        <figcaption>
                            <h2 style="background-color:#f4c242; padding:10px; -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);">Logo Design</h2>
                            <p>Simple logo for a new startup in Detroit</p>
                            <a href="#">View Project</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-body text-center">
                                 <div id="modal-car3" class="carousel slide" data-ride="carousel">

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/hub-logo-1.jpg">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/hub-logo-lg.jpg">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/hub-logo-2.jpg">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="##modal-car3" role="button" data-slide="prev" target="_self">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="##modal-car3" role="button" data-slide="next" target="_self">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </div>
                           <div class="modal-footer">
                                <div class="row">
                                <div class="col-lg-6">
                                <a href="https://www.facebook.com/rob.vancleave.1"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a href="https://www.linkedin.com/in/robvancleave/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a href="https://gitlab.com/users/robbvann/projects"><i class="fa fa-gitlab" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                
                                
                                </div>
                                <div class="col-lg-6" align="right">
                                <span type="button" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Close</span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="grid">
                <div type="button" data-toggle="modal" data-target="#modal4">
                    <figure class="effect-oscar">

                        <img src="http://robvancleave.com/danlaw/img/mossy-lg.jpg" class="img-responsive" />
                        <figcaption>
                            <h2 style="background-color:#f4c242; padding:10px; -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);">Landing Page</h2>
                            <p>Landing page for local automotive dealer / built within a CMS</p>
                            <a href="#">View Project</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            
                            <div class="modal-body text-center">
                                <div class="modal-header">
                                View the project code on <a href="https://gitlab.com/robbvann/mossy.git">Gitlab <i class="fa fa-gitlab" aria-hidden="true"></i></a>
                            </div>
                                 <div id="modal-car4" class="carousel slide" data-ride="carousel">

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/mossy-lg.jpg">
                                            <div class="carousel-caption">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/mossy-2.png">
                                            <div class="carousel-caption">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="##modal-car4" role="button" data-slide="prev" target="_self">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="##modal-car4" role="button" data-slide="next" target="_self">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                <div class="col-lg-6">
                                <a href="https://www.facebook.com/rob.vancleave.1"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a href="https://www.linkedin.com/in/robvancleave/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a href="https://gitlab.com/users/robbvann/projects"><i class="fa fa-gitlab" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                
                                
                                </div>
                                <div class="col-lg-6" align="right">
                                <span type="button" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Close</span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
        <div class="grid-sizer col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="grid">
                <div type="button" data-toggle="modal" data-target="#modal5">
                    <figure class="effect-oscar">

                        <img src="http://robvancleave.com/danlaw/img/eblast.jpg" class="img-responsive" />
                        <figcaption>
                            <h2 style="background-color:#f4c242; padding:10px; -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);">Eblast</h2>
                            <p>Eblast for a start up ad agency in Florida</p>
                            <a href="#">View Project</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-body text-center">
                                <div class="modal-header">
                                View the project code on <a href="https://gitlab.com/users/robbvann/projects">Gitlab <i class="fa fa-gitlab" aria-hidden="true"></i></a>
                            </div>
                                 <div id="modal-car5" class="carousel slide" data-ride="carousel">

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/eblast.jpg">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>    
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="##modal-car5" role="button" data-slide="prev" target="_self">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="##modal-car5" role="button" data-slide="next" target="_self">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </div>
                           <div class="modal-footer">
                                <div class="row">
                                <div class="col-lg-6">
                                <a href="https://www.facebook.com/rob.vancleave.1"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a href="https://www.linkedin.com/in/robvancleave/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a href="https://gitlab.com/users/robbvann/projects"><i class="fa fa-gitlab" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                
                                
                                </div>
                                <div class="col-lg-6" align="right">
                                <span type="button" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Close</span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="grid">
                <div type="button" data-toggle="modal" data-target="#modal6">
                    <figure class="effect-oscar">

                        <img src="http://robvancleave.com/danlaw/img/book-7.jpg"/>
                        <figcaption>
                            <h2 style="background-color:#f4c242; padding:10px; -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);">Print</h2>
                            <p>Multi-page brochure for print</p>
                            <a href="#">View Project</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-body text-center">
                                <div id="modal-car6" class="carousel slide" data-ride="carousel">

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/book-2.jpg">
                                            <div class="carousel-caption">
                                               
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/book-3.jpg">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/book-4.jpg">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/book-6.jpg">
                                            <div class="carousel-caption">
                                               
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/book-7.jpg">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/book-8.jpg">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/book-9.jpg">
                                            <div class="carousel-caption">
                                            
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="##modal-car6" role="button" data-slide="prev" target="_self">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="##modal-car6" role="button" data-slide="next" target="_self">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </div>
                           <div class="modal-footer">
                                <div class="row">
                                <div class="col-lg-6">
                                <a href="https://www.facebook.com/rob.vancleave.1"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a href="https://www.linkedin.com/in/robvancleave/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a href="https://gitlab.com/users/robbvann/projects"><i class="fa fa-gitlab" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                
                                
                                </div>
                                <div class="col-lg-6" align="right">
                                <span type="button" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Close</span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="grid">
                <div type="button" data-toggle="modal" data-target="#modal7">
                    <figure class="effect-oscar">

                        <img src="http://robvancleave.com/danlaw/img/styleguide-2.png" class="img-responsive" />
                        <figcaption>
                            <h2 style="background-color:#f4c242; padding:10px; -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);">Website</h2>
                            <p>Developer style guide to ease build process / developed off Bootstrap</p>
                            <a href="#">View Project</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-body text-center">
                               <div class="modal-header">
                                    <a href="https://styleguide.danlawinc.com/#/">View the live site <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> 
                            </div>
                                 <div id="modal-car7" class="carousel slide" data-ride="carousel">

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/style-2.png">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/style-1.png">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/style-3.png">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="##modal-car7" role="button" data-slide="prev" target="_self">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="##modal-car7" role="button" data-slide="next" target="_self">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                <div class="col-lg-6">
                                <a href="https://www.facebook.com/rob.vancleave.1"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a href="https://www.linkedin.com/in/robvancleave/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a href="https://gitlab.com/users/robbvann/projects"><i class="fa fa-gitlab" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                
                                
                                </div>
                                <div class="col-lg-6" align="right">
                                <span type="button" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Close</span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                 <div class="grid">
                <div type="button" data-toggle="modal" data-target="#modal10">
                    <figure class="effect-oscar">

                        <img src="http://robvancleave.com/danlaw/img/summit-3.png" class="img-responsive" />
                        <figcaption>
                            <h2 style="background-color:#f4c242; padding:10px; -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);">Landing Page</h2>
                            <p>Bootstrap landing page for event</p>
                            <a href="#">View Project</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="modal fade" id="modal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-body text-center">
                                 <div class="modal-header">
                                     View the project code on <a href="https://gitlab.com/robbvann/summit.git">Gitlab <i class="fa fa-gitlab" aria-hidden="true"></i></a> <a href="https://summit.danlawinc.com/">or view the live site <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                                 <div id="modal-car10" class="carousel slide" data-ride="carousel">

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/summit-2.png">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/summit-3.png">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/summit-4.png">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="##modal-car10" role="button" data-slide="prev" target="_self">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="##modal-car10" role="button" data-slide="next" target="_self">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                <div class="col-lg-6">
                                <a href="https://www.facebook.com/rob.vancleave.1"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a href="https://www.linkedin.com/in/robvancleave/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a href="https://gitlab.com/users/robbvann/projects"><i class="fa fa-gitlab" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                
                                
                                </div>
                                <div class="col-lg-6" align="right">
                                <span type="button" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Close</span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="grid-sizer col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="grid">
                <div type="button" data-toggle="modal" data-target="#modal8">
                    <figure class="effect-oscar">

                        <img src="http://robvancleave.com/danlaw/img/joynr-4.jpg" class="img-responsive" />
                        <figcaption>
                            <h2 style="background-color:#f4c242; padding:10px; -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);">Mobile App</h2>
                            <p>Mobile App for connected vehicles</p>
                            <a href="#">View Project</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="modal fade" id="modal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-body text-center">
                                 <div id="modal-car8" class="carousel slide" data-ride="carousel">

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        
                                        <div class="item active">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/joynr-1.jpg">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/joynr-2.jpg">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/joynr-3.jpg">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/joynr-4.jpg">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="##modal-car8" role="button" data-slide="prev" target="_self">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="##modal-car8" role="button" data-slide="next" target="_self">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </div>
                           <div class="modal-footer">
                                <div class="row">
                                <div class="col-lg-6">
                                <a href="https://www.facebook.com/rob.vancleave.1"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a href="https://www.linkedin.com/in/robvancleave/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a href="https://gitlab.com/users/robbvann/projects"><i class="fa fa-gitlab" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                
                                
                                </div>
                                <div class="col-lg-6" align="right">
                                <span type="button" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Close</span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="grid">
                <div type="button" data-toggle="modal" data-target="#modal9">
                    <figure class="effect-oscar">

                        <img src="http://robvancleave.com/danlaw/img/eblast-2.jpg" class="img-responsive" />
                        <figcaption>
                            <h2 style="background-color:#f4c242; padding:10px; -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);">Eblast</h2>
                            <p>Eblast in support of yearly event</p>
                            <a href="#">View Project</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="modal fade" id="modal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-body text-center">
                                 <div class="modal-header">
                                View the project code on <a href="https://gitlab.com/robbvann/connected-car.git">Gitlab <i class="fa fa-gitlab" aria-hidden="true"></i></a>
                            </div>
                                 <div id="modal-car9" class="carousel slide" data-ride="carousel">

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img class="img-responsive" src="http://robvancleave.com/danlaw/img/eblast-2.jpg">
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="##modal-car9" role="button" data-slide="prev" target="_self">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="##modal-car9" role="button" data-slide="next" target="_self">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                <div class="col-lg-6">
                                <a href="https://www.facebook.com/rob.vancleave.1"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a href="https://www.linkedin.com/in/robvancleave/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a href="https://gitlab.com/users/robbvann/projects"><i class="fa fa-gitlab" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                
                                
                                </div>
                                <div class="col-lg-6" align="right">
                                <span type="button" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Close</span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
       
        </div>

    </div>

</div>

<!-- /.container -->
