<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="http://robvancleave.com/#/">
                <h3>Rob VanCleave</h3>
                <h6><span style="color:#f4c242; font-size:10px;">design + development.</span></h6>
            </a>
        </li>
        <li class="active"><a href="##work" target="_self">Work</a></li>
        <li><a href="##about" target="_self"> About Me</a></li>
        <li><a href="http://robvancleave.com/vancleave-robert-2017-CM.pdf" target="_self">Resume</a></li>
        <li><a href="##contact" target="_self">Contact Me</a></li>
        <!-- <li></li>
                    <li><a href="#">Colors</a></li> -->
        <div style="padding: 0% 8%;">
            <hr/>
            <p class="muted-credit">
                <span style="font-size:14px;">Contact Me</span></p>
            <a href="https://www.facebook.com/rob.vancleave.1"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
            <a href="https://www.linkedin.com/in/robvancleave/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;&nbsp;
            <a href="https://gitlab.com/users/robbvann/projects"><i class="fa fa-gitlab" aria-hidden="true"></i></a>&nbsp;&nbsp;
            <a href="mailto:vancleave.robert@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            <hr/>
            <p class="muted-credit" style="font-size:11px;">
                <span style="font-size:14px;">Website Built with:</span><br/>
                <a href="http://getbootstrap.com/">Bootstrap</a><br/>
                <a href="https://masonry.desandro.com/">Masonry</a><br/>
                <a href="https://angularjs.org/">AngularJS</a><br/>
                <a href="http://fontawesome.io/">Font Awesome</a><br/>
                <a href="https://fonts.google.com/">Google Fonts</a><br/>
            </p>
            <hr/>
            <p class="muted-credit" style="font-size:9px;"><i class="fa fa-copyright" aria-hidden="true"></i> 2017 | Rob VanCleave</p>

        </div>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
