<div class="sticky">
    <div class="col-lg-6">
        <a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars fa-lg rotate" aria-hidden="true"></i><span style="padding-left:30px;"></span></a>
                            <a href="https://www.facebook.com/rob.vancleave.1"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
                            <a href="https://www.linkedin.com/in/robvancleave/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;&nbsp;
                            <a href="https://gitlab.com/users/robbvann/projects"><i class="fa fa-gitlab" aria-hidden="true"></i></a>&nbsp;&nbsp;
                            <i class="fafa-envelope-o" aria-hidden="true"></i>
    </div>
    <div class="col-lg-6">
        <img src="http://placehold.it/50x50">
    </div>
</div>