<div class="row" id="about">
    <div class="col-lg-12">
        <div class="jumbotron sticky-img">
            <span class="header-text">
            <h3 style="color:#fff;">Recent <span style="color:#f4c242;">Positions</span></h3>
            <hr/>
            </span>
        </div>
    </div>
</div>

<div class="row" style="padding:0% 5%;">
     <div class="col-lg-4">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        <h2>Web Developer & Designer</h2>
                        <h5>Cloudbees, Inc. | Boston, MA</h5>
                        <hr/>
                    </a>
                    <p>As the Web Developer & Designer, I am soley responsible for maintaining the Cloudbees Corporate Drupal site. The main focus of my position is to ensure a consistent look and feel through design and development. </p>
                </div>
                <div id="collapse6" class="accordion-body collapse">
                    <p>I have been able to streamline the site using my knowledge of UI / UX and design fundementals to develop custom modules and content based on user data. I work closely with the marketing department to gather that data and help them understand how best to incorporate it into our website.</p>
                </div>

                <span style="color:#f4c242; font-size:10px;"><div class="SeeMore2" data-toggle="collapse" href="#collapse6">See More</div></span>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        <h2>Senior UX Visual Designer & Developer</h2>
                        <h5>Tufts University | Boston, MA</h5>
                        <hr/>
                    </a>
                    <p>As the Senior UX Designer, I work closely with key departments to build visually compelling wireframes and designs that convey complex conceptual relationships based on the data provided.</p>
                </div>
                <div id="collapse1" class="accordion-body collapse">
                    <p>I help to define best practices and standards to drive the development of user scenarios and ensure others on the team fully understand how to apply the methodologies of user-centered design and research. Staying on the cutting edge, identifying opportunities and experimenting with applying new interactions and graphical patterns has allowed me to show a high degree of creativity, interaction design and problem solving.</p>
                </div>

                <span style="color:#f4c242; font-size:10px;"><div class="SeeMore2" data-toggle="collapse" href="#collapse1">See More</div></span>
            </div>
        </div>
    </div>

    <!-- end -->

    <div class="col-lg-4">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        <h2>Senior Graphic Designer & Front-end Developer</h2>
                        <h5>Danlaw Inc. | Detroit, MI</h5>
                        <hr/>
                    </a>
                    <p>I combined the art of design with the art of programming to create the UI/UX wireframes and workflows which, when converted to actual code will produce visual elements of the application.</p>
                </div>
                <div id="collapse2" class="accordion-body collapse">
                    <p>I worked closely with the Creative Director and bridged the gap between graphical design and technical implementation, taking an active role on both sides and defining how the application looks as well as how it functions. Using HTML5, CSS3 and Javascript as well as Pre-processors like Less and Sass I was able to build reusable code and new user-facing features in an agile development process.</p>
                </div>

                <span style="color:#f4c242; font-size:10px;"><div class="SeeMore2" data-toggle="collapse" href="#collapse2">See More</div></span>
            </div>
        </div>
    </div>
    <!-- end -->
</div>
<div class="row" style="padding:1% 5% 5% 5%;">
    <div class="col-lg-4">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        <h2>Senior Web Designer & Developer</h2>
                        <h5>C-4 Analytics | Boston, MA</h5>
                        <hr/>
                    </a>
                    <p>As a Senior Web Designer & Developer at C-4, I created and designed fully responsive HTML eblasts, maintained, and built custom wordpress sites for clients located all across the country.</p>
                </div>
                <div id="collapse3" class="accordion-body collapse">
                    <p>In a senior role, I had taken on the additional task of managing the 10 person design and development team. Which included setting up monthly 1-on-1’s, meeting with account management, talking with clients on a weekly basis, and maintaining the Scrum board. I was also responsible for training new employees on the basics of HTML, CSS, JavaScript, and PHP.</p>
                </div>

                <span style="color:#f4c242; font-size:10px;"><div class="SeeMore2" data-toggle="collapse" href="#collapse3">See More</div></span>
            </div>
        </div>
    </div>
    
    <div class="col-lg-4">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        <h2>Creative Director</h2>
                        <h5>Connectivity Agency | Tampa, FL</h5>
                        <hr/>
                    </a>
                    <p>As the Creative Director, I designed all collateral for our clients; from websites and magazine ads to pitching new contracts and one-off custom pieces.</p>
                </div>
                <div id="collapse4" class="accordion-body collapse">
                    <p>I also orchestrated and ran all social media campaigns, helped build client websites, and managed all creative freelance employees and interns. I designed and executed numerous ad campaigns, websites, custom print pieces, billboards, and other custom collateral for local and national clients such as Cirque du Soleil, WWE, Downy and American Cancer Society of Tampa Bay.</p>
                </div>

                <span style="color:#f4c242; font-size:10px;"><div class="SeeMore2" data-toggle="collapse" href="#collapse4">See More</div></span>
            </div>
        </div>
    </div>

    <!-- end -->

    <div class="col-lg-4">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5">
                        <h2>Promotions Director</h2>
                        <h5>ESPN | Tampa, FL</h5>
                        <hr/>
                    </a>
                    <p>As the Promotions Director for the six station cluster, I was brought in to build the department from the ground up. During my time there I handled the setup and execution of the week-long “radio row” during the 2009 NFL Superbowl.</p>
                </div>
                <div id="collapse5" class="accordion-body collapse">
                    <p>I was managing all aspects of producing, board operations, and management of DJs, producers and interns. While there, I executed a number of spectacular sports themed promotions which engaged the listeners and increased web traffic and ratings. I also organized and headed a team of designers and coders for a full company wide website re-design for all stations in the cluster.</p>
                </div>

                <span style="color:#f4c242; font-size:10px;"><div class="SeeMore2" data-toggle="collapse" href="#collapse5">See More</div></span>
            </div>
        </div>
    </div>
    <!-- end -->

    <div class="col-lg-4">

    </div>
</div>

<Script>
    $('.SeeMore2').click(function() {
        var $this = $(this);
        $this.toggleClass('SeeMore2');
        if ($this.hasClass('SeeMore2')) {
            $this.text('See More');
        } else {
            $this.text('See Less');
        }
    });

</Script>
